---
import ThemeToggleButton from './ThemeToggleButton';
---

<h2 class="heading">Useful Links</h2>
<ul>
	<li class={`header-link depth-2`}>
		<a href="https://discordapp.com/invite/5revMxD" target="_blank">
			<img src="/ngu-guide/discord.svg" width="16px">
			<span>NGU Idle Discord</span>
		</a>
	</li>
	<li class={`header-link depth-2`}>
		<a href="https://gmiclotte.github.io/gear-optimizer/#/" target="_blank">
			<img src="/ngu-guide/go-favicon.png" width="16px">
			<span>Gear Optimizer</span>
		</a>
	</li>
	<li class={`header-link depth-2`}>
		<a href="https://ngu-idle.fandom.com/wiki/NGU_Idle_Wiki" target="_blank">
			<img src="/ngu-guide/fandom-favicon.ico" width="16px">
			<span>NGU Idle Wiki</span>
		</a>
	</li>
</ul>
<div style="margin: 2rem 0; text-align: center;">
	<ThemeToggleButton client:visible />
</div>

