---
import ThemeToggleButton from './ThemeToggleButton';
---

<h2 class="heading">Useful Links</h2>
<ul>
	<li class={`header-link depth-2`}>
		<a href="https://discordapp.com/invite/5revMxD" target="_blank">
			<img src="/ngu-guide/discord.svg" width="16px">
			<span>NGU Idle Discord</span>
		</a>
	</li>
	<li class={`header-link depth-2`}>
		<a href="https://gmiclotte.github.io/gear-optimizer/#/" target="_blank">
			<img src="/ngu-guide/go-favicon.png" width="16px">
			<span>Gear Optimizer</span>
		</a>
	</li>
	<li class={`header-link depth-2`}>
		<a href="https://ngu-idle.fandom.com/wiki/NGU_Idle_Wiki" target="_blank">
			<img src="/ngu-guide/fandom-favicon.ico" width="16px">
			<span>NGU Idle Wiki</span>
		</a>
	</li>
	<li class={`header-link depth-2`}>
		<a href="https://docs.google.com/spreadsheets/d/1UyOPvZ_Gen02xfJZuPGnOQNVETxoQXlYJ9ObHmmDWRI/edit#gid=0" target="_blank">
			<img src="/ngu-guide/sheets.png" width="16px">
			<span>Boost Almanac</span>
		</a>
	</li>
	<li class={`header-link depth-2`}>
		<a href="https://docs.google.com/spreadsheets/d/1v9yA1Cv8W7OS1Vo_3LU3rHVBsPXaFRzP4T7Di2ZT3YY/edit#gid=1550539240" target="_blank">
			<img src="/ngu-guide/sheets.png" width="16px">
			<span>PP/EXP Income</span>
		</a>
	</li>
</ul>
<div style="margin: 2rem 0; text-align: center;">
	<ThemeToggleButton client:visible />
</div>

