---
import WelcomeLayout from '../layouts/WelcomeLayout.astro';
import Card from '../components/Welcome/Card.astro';
---

<WelcomeLayout title="NGU Idle Guide">
	<main>
		<h1>NGU Idle Guide</h1>
		<p class="instructions">
			Welcome! This is a guide for NGU Idle, an incremental game by 4G.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/en/intro"
				title="Introduction"
				body="An introduction, including how to use the guide"
			/>
			<Card
				href="/en/quick-guide"
				title="Quick Reference"
				body="Too Long; Didn't Read"
			/>
			<Card
				href="/en/chapters/chapter-1"
				title="Chapters"
				body="The Guide: suggestions to progress faster"
			/>
			<Card
				href="/en/mechanics/general-info"
				title="Mechanics"
				body="Learn how the game works"
			/>
			<Card
				href="/en/glossary"
				title="Glossary"
				body="A dictionary for all the jargon"
			/>
			<Card
				href="/en/guides/go-guide"
				title="Guides"
				body="Mini-guides within the guide"
			/>
			<Card
				href="/en/lists/boss-list"
				title="Reference Lists"
				body="Check when something unlocks"
			/>
			<Card
				href="/en/spoilers/flubber"
				title="Secrets & Spoilers"
				body="When you can't resist looking"
			/>
		</ul>
	</main>
</WelcomeLayout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 600;
		margin: 0;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
